openapi: 3.0.1
info:
  title: UpTrain Managed Evaluation Auth Checksets API
  description: Managed HTTP API for UpTrain, the open-source (Apache-2.0) LLM evaluation platform. The API grades supplied LLM input / output / context rows against a list of named checks (context relevance, factual accuracy, response completeness, conciseness, tonality, prompt injection, hallucination and more), logs results to a named project for dashboard monitoring, and performs root cause analysis on failures. These paths correspond to the public endpoints called by the uptrain Python package's APIClient (uptrain/framework/remote.py), rooted at {server_url}/api/public. The default managed server is https://demo.uptrain.ai. Requests are authenticated with an uptrain-access-token header.
  termsOfService: https://uptrain.ai/
  contact:
    name: UpTrain
    url: https://uptrain.ai/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.7.1
servers:
- url: https://demo.uptrain.ai/api/public
  description: Default UpTrain managed evaluation service
security:
- UptrainAccessToken: []
tags:
- name: Checksets
paths:
  /checkset:
    post:
      operationId: addCheckset
      tags:
      - Checksets
      summary: Create a reusable checkset.
      description: Registers a named bundle of checks that can be paired with a dataset in a run. This endpoint also backs add_experiment in the SDK.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkset'
      responses:
        '200':
          description: The registered checkset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkset'
        '401':
          description: Invalid or missing access token.
components:
  schemas:
    Checkset:
      type: object
      required:
      - name
      - checks
      properties:
        name:
          type: string
        checks:
          type: array
          items:
            type: string
  securitySchemes:
    UptrainAccessToken:
      type: apiKey
      in: header
      name: uptrain-access-token
      description: UpTrain managed-service access token. Obtained from the UpTrain dashboard and supplied on every request as the uptrain-access-token header.
